	doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='initial-scale=1, width=device-width')
  link(rel='stylesheet' href='./global.css')
  link(rel='stylesheet' href='./invoice.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=IBM Plex Mono:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Gurajada:wght@400&display=swap')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Bakbak One:wght@400&display=swap')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Post No Bills Colombo ExtraBold:wght@400&display=swap')
.macbook-air-2
  img.macbook-air-2-child(alt='' src='./public/group-110.svg')
  img.macbook-air-2-item(alt='' src='./public/group-110.svg')
  img.macbook-air-2-inner(alt='' src='./public/group-110.svg')
  .rectangle-div
  img.sampleqr-1-icon(alt='' src='./public/sampleqr-1@2x.png')
  .mahaveer-trading-company #{model.companydetails.companyname}
  .ground-floorshop-no-container
    span.ground-floorshop-no-container1
      p.ground-floorshop-no Ground Floor,Shop No 67,
      p.ground-floorshop-no Padmawati NagarB. Bhadarna,
      p.ground-floorshop-no JAIPUR - 302013,RAJASTHAN
      p.ground-floorshop-no
        span.gstinuin GSTIN/UIN 
        span : #{model.companydetails.companygstno} 
      p.state-name-rajasthan-code
        span.gstinuin State Name
        span  : #{model.companydetails.companystate} 
        span.gstinuin Code
        span.span  : #{model.companydetails.companypincode} 
  .guru-nanak-enterprises-container
    span.ground-floorshop-no-container1
      p.ground-floorshop-no GURU NANAK ENTERPRISES
      p.ground-floorshop-no PALMENCLAVE Ludhiana,
      p.ground-floorshop-no Ludhiana- 141116,Punjab
      p.ground-floorshop-no
        span.gstinuin GSTIN/UIN
        span  : 031JEPK4859NIZM 
      p.state-name-rajasthan-code
        span.gstinuin State Name
        span  : Punjab, 
        span.gstinuin Code
        span.span  : 03
  .guru-nanak-enterprises-container2
    span.ground-floorshop-no-container1
      p.ground-floorshop-no GURU NANAK ENTERPRISES
      p.ground-floorshop-no PALMENCLAVE Ludhiana,
      p.ground-floorshop-no Ludhiana- 141116,Punjab
      p.ground-floorshop-no
        span.gstinuin GSTIN/UIN
        span  : 031JEPK4859NIZM 
      p.state-name-rajasthan-code
        span.gstinuin State Name
        span  : Punjab, 
        span.gstinuin Code
        span.span  : 03
  img.line-icon(alt='' src='./public/line-47.svg')
  .line-div
  .macbook-air-2-child1
  .macbook-air-2-child2
  .macbook-air-2-child3
  .macbook-air-2-child4
  .macbook-air-2-child5
  .macbook-air-2-child6
  .macbook-air-2-child7
  .macbook-air-2-child8
  .macbook-air-2-child9
  img.macbook-air-2-child10(alt='' src='./public/line-49.svg')
  img.macbook-air-2-child11(alt='' src='./public/line-66.svg')
  img.macbook-air-2-child12(alt='' src='./public/line-47.svg')
  img.macbook-air-2-child13(alt='' src='./public/line-47.svg')
  img.macbook-air-2-child14(alt='' src='./public/line-47.svg')
  img.macbook-air-2-child15(alt='' src='./public/line-47.svg')
  img.macbook-air-2-child16(alt='' src='./public/line-47.svg')
  img.macbook-air-2-child17(alt='' src='./public/line-47.svg')
  img.macbook-air-2-child18(alt='' src='./public/line-47.svg')
  img.macbook-air-2-child19(alt='' src='./public/line-47.svg')
  img.macbook-air-2-child20(alt='' src='./public/line-47.svg')
  img.macbook-air-2-child21(alt='' src='./public/line-47.svg')
  img.macbook-air-2-child22(alt='' src='./public/line-47.svg')
  img.macbook-air-2-child23(alt='' src='./public/line-47.svg')
  img.macbook-air-2-child24(alt='' src='./public/line-47.svg')
  img.macbook-air-2-child25(alt='' src='./public/line-47.svg')
  img.macbook-air-2-child26(alt='' src='./public/line-47.svg')
  b.tax-invoice Tax Invoice
  .invoice-no-wrapper
    b.invoice-no Invoice No.
  .dispatch-document-no-wrapper
    b.invoice-no dispatch document no.
  .modeterms-of-payment-wrapper
    b.invoice-no mode/terms of payment
  .destination-wrapper
    b.invoice-no DEstination
  .wrapper
    .div 5
  .dated-parent
    b.dated dated
    .huz-guj 14-08-2023
  .dispatched-through-parent
    b.dispatched-through dispatched through 
    .truck TRUCK
  .other-references-parent
    b.dated other reference(s)
    .huz-guj HUZ GUJ
  .motor-vehicle-number-parent
    b.motor-vehicle-number MOTOR Vehicle number
    .pb11ap8197 PB11AP8197
    .dispatch-from-anand Dispatch From Anand
    .div2 1
    .div3 1
    .div4 7204
    .ms-scrap-less-container
      p.state-name-rajasthan-code MS SCRAP
      p.state-name-rajasthan-code &nbsp;
      p.state-name-rajasthan-code &nbsp;
      p.state-name-rajasthan-code &nbsp;
      p.state-name-rajasthan-code
        span.span less: 
        i.output-igst OUTPUT IGST 
      p.state-name-rajasthan-code
        i.output-igst &nbsp;
      p.state-name-rajasthan-code
        i.output-igst  @18% ROUND OFF
    .total TOTAL
    .total TOTAL
    .total2 TOTAL
    .div5 7204
    .div6 35,145
    .div7 35,145
    i.e-oe E. &amp; O.E
    .div8 18
    .div9 18%
    .kgs kgs
    .div10 6,15,037.50
    .div11 6,15,037.50
    .div12 6,15,037.50
    .div13 1,10,706.75
    .div14 1,10,706.75
    .div15 1,10,706.75
    .div16 1,10,706.75
    .div17 1,10,706.75
    .div18 7,25,744.00
    .ludiana LUDIANA
  .e-way-no-parent
    b.dated e-way no.
    .huz-guj 5
    .huz-guj 5
  .delivery-note-date-wrapper
    b.invoice-no delivery note date
  .suppilers-ref-parent
    b.suppilers-ref suppiler&rsquo;s ref
    .huz-guj SAME DAY
  .bill-landinglr-rr-no-wrapper
    b.invoice-no BILL LAnding/LR-RR No.
  .delivery-note-wrapper
    b.invoice-no delivery note
  .delivery-note-container
    b.invoice-no delivery note
  .dated-wrapper
    b.invoice-no Dated
  .terms-of-deilvery-wrapper
    b.terms-of-deilvery terms of deilvery
  .sn-wrapper
    b.sn s/n
  .sn-container
    b.sn1 s/n
  .rate-wrapper
    b.rate rate
  .amount-wrapper
    b.amount amount
  .amount-chargeable-in-words-parent
    .amount-chargeable-in-container
      b Amount chargeable 
      i.in-words (in words)
      b  
    .total-amount-in-container
      b total amount 
      i.in-words (in words)
      b  
    i.inr-seven-lakhs
      | INR Seven lakhs twenty five thousand and seven hundred and forty four
      | only
    i.inr-one-lakhs
      | INR one lakhs ten thousand and seven hundred and six and seventy five
      | paise only
  .discerption-of-goods-wrapper
    b.discerption-of-goods discerption of goods
  .hsnsac-parent
    b.hsnsac hsn/sac
    b.hsnsac1 hsn/sac
    b.taxable-value taxable value
    b.integrated-tax integrated tax
    b.total-tax-amount total tax amount
    b.quantity quantity
    b.rate1 rate
    b.per per
    b.amount1 amount
  i.consignee Consignee
  i.disclaimer
    span disclaimer
    span.span3  
  i.for-mahaveer-trading FOR MAHAVEER TRADING COMPANY
  i.buyer buyer
  .this-is-a This is a computer generated invoice.
  i.authorized-signature Authorized Signature 
  .we-declared-that-container
    p.state-name-rajasthan-code
      | WE DECLARED THAT THIS INVOICE SHOWS THE ACTUAL PRICE
    p.state-name-rajasthan-code &nbsp;
    p.state-name-rajasthan-code
      | OF THE GOOD DESCRIBED AND THAT ALL PARTICULAR ARE
  .mahaveer-trading-company1 MAHAVEER TRADING COMPANY

