doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1, width=device-width')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=IBM Plex Mono:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Gurajada:wght@400&display=swap')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Bakbak One:wght@400&display=swap')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Post No Bills Colombo ExtraBold:wght@400&display=swap')
    style. 
      body {
        margin: 0;
        line-height: normal;
      }

      :root {
        /* fonts */
        --t-200: Urbanist;
        --font-gurajada: Gurajada;
        --font-ibm-plex-mono: "IBM Plex Mono";
        --font-inter: Inter;
        --font-bakbak-one: "Bakbak One";
        --font-poppins: Poppins;
        --font-post-no-bills-colombo-extrabold: "Post No Bills Colombo ExtraBold";

        /* font sizes */
        --headline-size: 20px;
        --button-medium-size: 16px;
        --t-200-size: 32px;
        --t-100-size: 24px;
        --font-size-23xl: 42px;
        --button-big-size: 18px;
        --t-800-size: 92px;
        --font-size-3xl: 22px;
        --font-size-6xl: 25px;
        --button-small-size: 14px;
        --font-size-33xl: 52px;
        --font-size-smi-7: 12.7px;
        --font-size-2xs-9: 10.9px;
        --font-size-lg-2: 18.2px;
        --font-size-base-4: 16.4px;
        --t-500-size: 64px;
        --font-size-3xs: 10px;

        /* Colors */
        --color-white: #fff;
        --color-white-100: #fefefe;
        --color-grey-60: #767676;
        --color-grey-100: #1a1a1a;
        --color-gray-100: #181818;
        --mono-dark: #211313;
        --color-gray-200: rgba(254, 254, 254, 0.6);
        --color-gray-300: rgba(254, 254, 254, 0.05);
        --color-gray-400: rgba(0, 0, 0, 0.75);
        --color-grey-20: #d2d2d2;
        --color-black: #000;
        --color-primary-1: #5925dc;
        --color-blueviolet-100: rgba(89, 37, 220, 0.04);
        --color-whitesmoke: #ededed;
        --color-dimgray: #636364;
        --color-silver: rgba(196, 196, 196, 0);
        --color-gainsboro: #e3e3e3;
        --color-mediumslateblue: #7a5af8;
        --color-primary-20: #d9d6fe;
        --color-darkslategray: #484848;
        --color-grey-40: #a4a4a4;
        --color-primary-60: #9b8afb;
        --color-grey-80: #0ab407;
        --color-darkorange: #ff9514;
        --color-primary-0: #f4f3ff;

        /* Border radiuses */
        --br-mini: 15px;
        --br-7xs: 6px;
        --br-xl: 20px;
        --br-11xl: 30px;
        --br-xs: 12px;
        --br-21xl: 40px;
        --br-12xs: 1px;
        --br-2xs-9: 10.9px;
        --br-8xl-3: 27.3px;
        --br-sm-6: 13.6px;
        --br-9xs: 4px;
        --br-9xl: 28px;
        --br-3xs: 10px;
        --br-81xl: 100px;
        --br-8xs: 5px;
        --br-11xs: 2px;
      }

      .macbook-air-2-child {
        position: absolute;
        top: 916px;
        left: 0;
        width: 1463px;
        height: 762px;
      }
      .macbook-air-2-inner,
      .macbook-air-2-item,
      .rectangle-div {
        position: absolute;
        top: 1860px;
        left: 0;
        width: 1463px;
        height: 762px;
      }
      .macbook-air-2-inner,
      .rectangle-div {
        top: 0;
        left: 5px;
      }
      .rectangle-div {
        top: 126px;
        left: 89px;
        background-color: var(--color-white);
        border: 1px solid var(--color-black);
        box-sizing: border-box;
        width: 1090px;
        height: 2019px;
      }
      .sampleqr-1-icon {
        position: absolute;
        top: 220px;
        left: 919px;
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
      .mahaveer-trading-company {
        position: absolute;
        top: 153px;
        left: 124px;
        font-size: var(--font-size-23xl);
        line-height: 40px;
        text-transform: uppercase;
        font-weight: 300;
        display: flex;
        align-items: flex-end;
        width: 510px;
        height: 85px;
      }
      .ground-floorshop-no {
        margin-block-start: 0;
        margin-block-end: 20px;
      }
      .gstinuin {
        font-weight: 600;
      }
      .gstinuin,
      .span {
        font-family: var(--font-ibm-plex-mono);
      }
      .state-name-rajasthan-code {
        margin: 0;
      }
      .ground-floorshop-no-container1 {
        line-break: anywhere;
        width: 100%;
      }
      .ground-floorshop-no-container,
      .guru-nanak-enterprises-container,
      .guru-nanak-enterprises-container2 {
        position: absolute;
        top: 234px;
        left: 128px;
        line-height: 14px;
        display: flex;
        align-items: center;
        width: 506px;
        height: 203px;
      }
      .guru-nanak-enterprises-container,
      .guru-nanak-enterprises-container2 {
        top: 532px;
        left: 124px;
        height: 177px;
      }
      .guru-nanak-enterprises-container2 {
        top: 766px;
        left: 121px;
      }
      .line-icon {
        position: absolute;
        top: 458px;
        left: 121.3px;
        width: 505.7px;
        height: 6px;
      }
      .line-div,
      .macbook-air-2-child1,
      .macbook-air-2-child2 {
        position: absolute;
        top: 1104.5px;
        left: 121.5px;
        border-top: 5px solid var(--color-black);
        box-sizing: border-box;
        width: 1042px;
        height: 5px;
      }
      .macbook-air-2-child1,
      .macbook-air-2-child2 {
        top: 1639.5px;
        width: 1032px;
      }
      .macbook-air-2-child2 {
        top: 1924.5px;
        left: 118.5px;
      }
      .macbook-air-2-child3,
      .macbook-air-2-child4,
      .macbook-air-2-child5 {
        position: absolute;
        top: 1164.5px;
        left: 119.5px;
        border-top: 3px solid var(--color-black);
        box-sizing: border-box;
        width: 1040px;
        height: 3px;
      }
      .macbook-air-2-child4,
      .macbook-air-2-child5 {
        top: 1702.5px;
        left: 122.5px;
        width: 1030px;
      }
      .macbook-air-2-child5 {
        top: 1749px;
        left: 123px;
        border-top: 2px solid var(--color-black);
        width: 1029px;
        height: 2px;
      }
      .macbook-air-2-child6,
      .macbook-air-2-child7 {
        position: absolute;
        top: 1453.5px;
        left: 119.5px;
        border-top: 3px solid var(--color-black);
        box-sizing: border-box;
        width: 1030px;
        height: 3px;
      }
      .macbook-air-2-child7 {
        top: 1520.5px;
      }
      .macbook-air-2-child8,
      .macbook-air-2-child9 {
        position: absolute;
        top: 1307.5px;
        left: 116.5px;
        border-top: 1px solid var(--color-black);
        box-sizing: border-box;
        width: 1038px;
        height: 1px;
      }
      .macbook-air-2-child9 {
        top: 1796px;
        left: 123px;
        border-top: 2px solid var(--color-black);
        width: 1029px;
        height: 2px;
      }
      .macbook-air-2-child10,
      .macbook-air-2-child11 {
        position: absolute;
        top: 715px;
        left: 121.3px;
        width: 505.6px;
        height: 3px;
      }
      .macbook-air-2-child11 {
        top: 955px;
        left: 124.3px;
      }
      .macbook-air-2-child12 {
        position: absolute;
        top: 457px;
        left: 657.2px;
        width: 505.7px;
        height: 6px;
      }
      .macbook-air-2-child13,
      .macbook-air-2-child14 {
        position: absolute;
        top: 519px;
        left: 657.2px;
        width: 505.6px;
        height: 2px;
      }
      .macbook-air-2-child14 {
        top: 805px;
      }
      .macbook-air-2-child15,
      .macbook-air-2-child16,
      .macbook-air-2-child17 {
        position: absolute;
        top: 664px;
        left: 657.2px;
        width: 505.6px;
        height: 2px;
      }
      .macbook-air-2-child16,
      .macbook-air-2-child17 {
        top: 950px;
      }
      .macbook-air-2-child17 {
        top: 589px;
      }
      .macbook-air-2-child18,
      .macbook-air-2-child19,
      .macbook-air-2-child20 {
        position: absolute;
        top: 875px;
        left: 657.2px;
        width: 505.6px;
        height: 2px;
      }
      .macbook-air-2-child19,
      .macbook-air-2-child20 {
        top: 734px;
      }
      .macbook-air-2-child20 {
        top: 624px;
      }
      .macbook-air-2-child21,
      .macbook-air-2-child22,
      .macbook-air-2-child23 {
        position: absolute;
        top: 910px;
        left: 657.2px;
        width: 505.6px;
        height: 2px;
      }
      .macbook-air-2-child22,
      .macbook-air-2-child23 {
        top: 769px;
      }
      .macbook-air-2-child23 {
        top: 554px;
        left: 658.2px;
      }
      .macbook-air-2-child24,
      .macbook-air-2-child25,
      .macbook-air-2-child26 {
        position: absolute;
        top: 840px;
        left: 658.2px;
        width: 505.6px;
        height: 2px;
      }
      .macbook-air-2-child25,
      .macbook-air-2-child26 {
        top: 699px;
      }
      .macbook-air-2-child26 {
        top: 985px;
      }
      .tax-invoice {
        position: absolute;
        top: 180px;
        left: 929px;
        letter-spacing: 1px;
        line-height: 18px;
        text-transform: uppercase;
        display: inline-block;
        text-align: right;
        width: 170px;
      }
      .invoice-no,
      .invoice-no-wrapper {
        position: absolute;
        width: 343.1px;
        height: 18px;
      }
      .invoice-no {
        top: 0;
        left: 0;
        letter-spacing: 0.5px;
        line-height: 12px;
        text-transform: uppercase;
        display: inline-block;
      }
      .invoice-no-wrapper {
        top: 496px;
        left: 657.2px;
      }
      .destination-wrapper,
      .dispatch-document-no-wrapper,
      .modeterms-of-payment-wrapper {
        position: absolute;
        top: 782px;
        left: 657.2px;
        width: 343.1px;
        height: 18px;
      }
      .destination-wrapper,
      .modeterms-of-payment-wrapper {
        top: 641px;
      }
      .destination-wrapper {
        top: 927px;
      }
      .dated,
      .div,
      .wrapper {
        position: absolute;
        width: 151.4px;
        height: 20px;
      }
      .div {
        top: 0;
        left: 0;
        line-height: 14px;
        display: inline-block;
      }
      .dated,
      .wrapper {
        top: 496px;
        left: 1009.4px;
      }
      .dated {
        top: 2px;
        left: 0;
        letter-spacing: 0.5px;
        line-height: 12px;
        text-transform: uppercase;
        display: inline-block;
        width: 343.1px;
        height: 18px;
      }
      .dated-parent {
        position: absolute;
        top: 566px;
        left: 657.2px;
        width: 505.6px;
        height: 20px;
      }
      .dispatched-through,
      .truck {
        position: absolute;
        display: inline-block;
      }
      .dispatched-through {
        top: 1px;
        left: 0;
        letter-spacing: 0.5px;
        line-height: 12px;
        text-transform: uppercase;
        width: 343.1px;
        height: 18px;
      }
      .truck {
        top: 0;
        left: 343.1px;
        line-height: 14px;
        width: 153.4px;
        height: 20px;
      }
      .dispatched-through-parent,
      .huz-guj {
        position: absolute;
        top: 853px;
        left: 657.2px;
        width: 496.6px;
        height: 20px;
      }
      .huz-guj {
        top: 0;
        left: 352.2px;
        line-height: 14px;
        display: inline-block;
        width: 153.4px;
      }
      .other-references-parent {
        position: absolute;
        top: 711px;
        left: 657.2px;
        width: 505.6px;
        height: 20px;
      }
      .motor-vehicle-number {
        position: absolute;
        top: 77px;
        left: 530px;
        letter-spacing: 0.5px;
        line-height: 12px;
        text-transform: uppercase;
        display: inline-block;
        width: 343px;
        height: 18px;
      }
      .dispatch-from-anand,
      .div2,
      .div3,
      .div4,
      .pb11ap8197 {
        position: absolute;
        top: 76px;
        left: 873px;
        line-height: 14px;
        display: inline-block;
        width: 154px;
        height: 20px;
      }
      .dispatch-from-anand,
      .div2,
      .div3,
      .div4 {
        top: 74px;
        left: 0;
        width: 503px;
        height: 57px;
      }
      .div2,
      .div3,
      .div4 {
        top: 274px;
        left: 1px;
        width: 59px;
        height: 18px;
      }
      .div3,
      .div4 {
        top: 844px;
        width: 58px;
      }
      .div4 {
        left: 103px;
        width: 104px;
      }
      .output-igst {
        font-weight: 300;
      }
      .div5,
      .div6,
      .ms-scrap-less-container,
      .total,
      .total2 {
        position: absolute;
        line-height: 14px;
        display: inline-block;
      }
      .ms-scrap-less-container {
        top: 274px;
        left: 96px;
        white-space: pre-wrap;
        width: 308px;
        height: 112px;
      }
      .div5,
      .div6,
      .total,
      .total2 {
        top: 551px;
        left: 91px;
        width: 305px;
        height: 26px;
      }
      .div5,
      .div6,
      .total2 {
        top: 887px;
        left: 103px;
        width: 108px;
      }
      .div5,
      .div6 {
        top: 272px;
        left: 426px;
        width: 109px;
        height: 18px;
      }
      .div6 {
        left: 554px;
        width: 121px;
      }
      .div7 {
        top: 555px;
        left: 545px;
        width: 119px;
        height: 18px;
      }
      .div7,
      .div8,
      .div9,
      .e-oe,
      .kgs {
        position: absolute;
        line-height: 14px;
        display: inline-block;
      }
      .e-oe {
        top: 616px;
        left: 894px;
        width: 119px;
        height: 18px;
      }
      .div8,
      .div9,
      .kgs {
        top: 272px;
        left: 697px;
        width: 59px;
      }
      .div9,
      .kgs {
        top: 844px;
        left: 504px;
      }
      .kgs {
        top: 272px;
        left: 770px;
        width: 60px;
      }
      .div10,
      .div11,
      .div12,
      .div13,
      .div14,
      .div15,
      .div16,
      .div17,
      .div18,
      .ludiana {
        position: absolute;
        top: 271px;
        left: 850px;
        line-height: 14px;
        display: inline-block;
        width: 181px;
        height: 21px;
      }
      .div11,
      .div12,
      .div13,
      .div14,
      .div15,
      .div16,
      .div17,
      .div18,
      .ludiana {
        top: 844px;
        left: 268px;
        width: 179px;
      }
      .div12,
      .div13,
      .div14,
      .div15,
      .div16,
      .div17,
      .div18,
      .ludiana {
        top: 884px;
      }
      .div13,
      .div14,
      .div15,
      .div16,
      .div17,
      .div18,
      .ludiana {
        top: 346px;
        left: 850px;
        width: 181px;
      }
      .div14,
      .div15,
      .div16,
      .div17,
      .div18,
      .ludiana {
        top: 844px;
        left: 571px;
        width: 167px;
      }
      .div15,
      .div16,
      .div17,
      .div18,
      .ludiana {
        top: 887px;
      }
      .div16,
      .div17,
      .div18,
      .ludiana {
        top: 841px;
        left: 791px;
        width: 179px;
      }
      .div17,
      .div18,
      .ludiana {
        top: 884px;
      }
      .div18,
      .ludiana {
        top: 552px;
        left: 838px;
      }
      .ludiana {
        top: 0;
        left: 873px;
        width: 154px;
        height: 20px;
      }
      .e-way-no-parent,
      .motor-vehicle-number-parent {
        position: absolute;
        top: 922px;
        left: 127px;
        width: 1031px;
        height: 913px;
      }
      .e-way-no-parent {
        top: 531px;
        left: 657.2px;
        width: 505.6px;
        height: 20px;
      }
      .delivery-note-date-wrapper,
      .suppilers-ref {
        position: absolute;
        top: 819px;
        left: 657.2px;
        width: 343.1px;
        height: 18px;
      }
      .suppilers-ref {
        top: 44px;
        left: 0;
        letter-spacing: 0.5px;
        line-height: 12px;
        text-transform: uppercase;
        display: inline-block;
      }
      .suppilers-ref-parent {
        position: absolute;
        top: 634px;
        left: 657.2px;
        width: 505.6px;
        height: 62px;
      }
      .bill-landinglr-rr-no-wrapper,
      .delivery-note-wrapper {
        position: absolute;
        top: 964px;
        left: 657.2px;
        width: 343.1px;
        height: 18px;
      }
      .delivery-note-wrapper {
        top: 602px;
      }
      .dated-wrapper,
      .delivery-note-container,
      .terms-of-deilvery {
        position: absolute;
        top: 888px;
        left: 657.2px;
        width: 343.1px;
        height: 18px;
      }
      .dated-wrapper,
      .terms-of-deilvery {
        top: 747px;
      }
      .terms-of-deilvery {
        top: 0;
        left: 0;
        letter-spacing: 0.5px;
        line-height: 12px;
        text-transform: uppercase;
        display: inline-block;
        width: 266.4px;
      }
      .terms-of-deilvery-wrapper {
        position: absolute;
        top: 974px;
        left: 127.4px;
        width: 266.4px;
        height: 18px;
      }
      .sn,
      .sn-wrapper {
        position: absolute;
        width: 58.5px;
        height: 18px;
      }
      .sn {
        top: 0;
        left: 0;
        letter-spacing: 0.5px;
        line-height: 12px;
        text-transform: uppercase;
        display: inline-block;
      }
      .sn-wrapper {
        top: 1128px;
        left: 128.4px;
      }
      .sn-container,
      .sn1 {
        position: absolute;
        width: 58px;
        height: 18px;
      }
      .sn1 {
        top: 0;
        left: 0;
        letter-spacing: 0.5px;
        line-height: 12px;
        text-transform: uppercase;
        display: inline-block;
      }
      .sn-container {
        top: 1673px;
        left: 128px;
      }
      .rate {
        position: absolute;
        top: 0;
        left: 0;
        letter-spacing: 0.5px;
        line-height: 12px;
        text-transform: uppercase;
      }
      .rate-wrapper {
        position: absolute;
        top: 1718px;
        left: 631px;
        width: 60px;
        height: 12px;
      }
      .amount,
      .amount-wrapper {
        position: absolute;
        width: 103px;
        height: 18px;
      }
      .amount {
        top: 0;
        left: 0;
        letter-spacing: 0.5px;
        line-height: 12px;
        text-transform: uppercase;
        display: inline-block;
      }
      .amount-wrapper {
        top: 1718px;
        left: 753px;
      }
      .in-words {
        font-size: var(--headline-size);
        font-weight: 600;
      }
      .amount-chargeable-in-container,
      .inr-one-lakhs,
      .inr-seven-lakhs,
      .total-amount-in-container {
        position: absolute;
        top: 0;
        left: 0;
        letter-spacing: 0.5px;
        line-height: 12px;
        text-transform: uppercase;
        display: inline-block;
        width: 456px;
        height: 18px;
      }
      .inr-one-lakhs,
      .inr-seven-lakhs,
      .total-amount-in-container {
        top: 303px;
      }
      .inr-one-lakhs,
      .inr-seven-lakhs {
        top: 33px;
        font-size: var(--headline-size);
        font-weight: 600;
        width: 999px;
        height: 68px;
      }
      .inr-one-lakhs {
        top: 328px;
      }
      .amount-chargeable-in-words-parent {
        position: absolute;
        top: 1541px;
        left: 124px;
        width: 999px;
        height: 396px;
      }
      .discerption-of-goods {
        position: absolute;
        top: 0;
        left: 0;
        letter-spacing: 0.5px;
        line-height: 12px;
        text-transform: uppercase;
        display: inline-block;
        width: 307.8px;
        height: 18px;
      }
      .discerption-of-goods-wrapper {
        position: absolute;
        top: 1128px;
        left: 223.2px;
        width: 307.8px;
        height: 18px;
      }
      .amount1,
      .hsnsac,
      .hsnsac1,
      .integrated-tax,
      .per,
      .quantity,
      .rate1,
      .taxable-value,
      .total-tax-amount {
        position: absolute;
        top: 0;
        left: 323px;
        letter-spacing: 0.5px;
        line-height: 12px;
        text-transform: uppercase;
        display: inline-block;
        width: 109px;
        height: 18px;
      }
      .amount1,
      .hsnsac1,
      .integrated-tax,
      .per,
      .quantity,
      .rate1,
      .taxable-value,
      .total-tax-amount {
        top: 545px;
        left: 0;
        width: 108px;
      }
      .amount1,
      .integrated-tax,
      .per,
      .quantity,
      .rate1,
      .taxable-value,
      .total-tax-amount {
        left: 154px;
        width: 202px;
      }
      .amount1,
      .integrated-tax,
      .per,
      .quantity,
      .rate1,
      .total-tax-amount {
        left: 401px;
        width: 215px;
      }
      .amount1,
      .per,
      .quantity,
      .rate1,
      .total-tax-amount {
        left: 646px;
        width: 275px;
      }
      .amount1,
      .per,
      .quantity,
      .rate1 {
        top: 0;
        left: 451px;
        width: 121px;
      }
      .amount1,
      .per,
      .rate1 {
        left: 592px;
        width: 75px;
      }
      .amount1,
      .per {
        left: 667px;
        width: 56px;
      }
      .amount1 {
        left: 747px;
        width: 97px;
      }
      .hsnsac-parent {
        position: absolute;
        top: 1128px;
        left: 230px;
        width: 921px;
        height: 563px;
      }
      .consignee {
        position: absolute;
        top: 496px;
        left: 124px;
        letter-spacing: 0.2px;
        line-height: 24px;
        text-transform: uppercase;
        display: inline-block;
        font-weight: 700;
        width: 177px;
      }
      .consignee,
      .span3 {
        font-size: var(--t-200-size);
      }
      .buyer,
      .disclaimer,
      .for-mahaveer-trading {
        position: absolute;
        letter-spacing: 0.2px;
        line-height: 24px;
        text-transform: uppercase;
        font-weight: 700;
      }
      .disclaimer {
        top: 1956px;
        left: 121px;
        text-decoration: underline;
        font-size: var(--headline-size);
      }
      .buyer,
      .for-mahaveer-trading {
        display: inline-block;
      }
      .for-mahaveer-trading {
        top: 1956px;
        left: 791px;
        font-size: var(--headline-size);
        text-decoration: underline;
        width: 353px;
      }
      .buyer {
        top: 730px;
        left: 125px;
        font-size: var(--t-200-size);
        width: 98px;
      }
      .this-is-a {
        top: 2099px;
        left: 444px;
      }
      .authorized-signature,
      .this-is-a,
      .we-declared-that-container {
        position: absolute;
        font-size: var(--button-medium-size);
        line-height: 14px;
      }
      .authorized-signature {
        top: 2024px;
        left: 939px;
        font-weight: 300;
      }
      .we-declared-that-container {
        top: 1999px;
        left: 124px;
        display: inline-block;
        width: 586px;
        height: 75px;
      }
      .mahaveer-trading-company1 {
        position: absolute;
        top: 1441px;
        left: 131px;
        font-size: 128px;
        font-family: var(--font-gurajada);
        color: var(--color-black);
        display: inline-block;
        width: 1238.9px;
        height: 314px;
        transform: rotate(-45deg);
        transform-origin: 0 0;
        opacity: 0.1;
        mix-blend-mode: darken;
      }
      .rectangle {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: var(--br-mini);
        border: 2px solid var(--color-grey-20);
        box-sizing: border-box;
      }
      .second-feature {
        position: absolute;
        top: calc(50% - 11.5px);
        left: 4.52%;
        letter-spacing: -0.36px;
      }
      .group-child {
        position: absolute;
        height: 80%;
        width: 14.62%;
        top: 8.11%;
        right: 2.96%;
        bottom: 11.89%;
        left: 82.41%;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
      }
      .rectangle-parent {
        position: absolute;
        height: 1.65%;
        width: 15.55%;
        top: 1.25%;
        right: 5.23%;
        bottom: 97.1%;
        left: 79.22%;
        font-size: var(--headline-size);
        color: var(--color-grey-100);
        font-family: var(--t-200);
      }
      .macbook-air-2 {
        position: relative;
        background-color: var(--color-white);
        width: 100%;
        height: 2240px;
        overflow: hidden;
        text-align: left;
        font-size: var(--t-100-size);
        color: var(--mono-dark);
        font-family: var(--font-ibm-plex-mono);
      }

  body
    .macbook-air-2
      img.macbook-air-2-child(alt='' src='./public/group-110.svg')
      img.macbook-air-2-item(alt='' src='./public/group-110.svg')
      img.macbook-air-2-inner(alt='' src='./public/group-110.svg')
      .rectangle-div
      img.sampleqr-1-icon(alt='' src='./public/sampleqr-1@2x.png')
      .mahaveer-trading-company #{model.companydetails.companyname}
      .ground-floorshop-no-container
        span.ground-floorshop-no-container1
          p.ground-floorshop-no #{model.companydetails.companyofficeaddress}
          //- p.ground-floorshop-no Padmawati NagarB. Bhadarna,
          //- p.ground-floorshop-no JAIPUR - 302013,RAJASTHAN
          p.ground-floorshop-no
            span.gstinuin GSTIN/UIN 
            span : #{model.companydetails.companygstno} 
          p.state-name-rajasthan-code
            span.gstinuin State Name
            span  : #{model.companydetails.companystate} 
            span.gstinuin Code
            span.span  : #{model.companydetails.companypincode} 
      .guru-nanak-enterprises-container
        span.ground-floorshop-no-container1
          p.ground-floorshop-no #{model.sellerdetails.sellercompanyname}
          p.ground-floorshop-no #{model.sellerdetails.sellercompanyaddress}
          //- p.ground-floorshop-no Ludhiana- 141116,Punjab
          p.ground-floorshop-no
            span.gstinuin GSTIN/UIN
            span  : #{model.sellerdetails.sellercompanygstno} 
          p.state-name-rajasthan-code
            span.gstinuin State Name
            span  : #{model.sellerdetails.sellercompanystatename} 
            span.gstinuin Code
            span.span  : #{model.sellerdetails.sellercompanystatecode}
      .guru-nanak-enterprises-container2
        span.ground-floorshop-no-container1
          p.ground-floorshop-no #{model.sellerdetails.buyercompanyname}
          p.ground-floorshop-no #{model.sellerdetails.buyercompanyaddress}
          //- p.ground-floorshop-no Ludhiana- 141116,Punjab
          p.ground-floorshop-no
            span.gstinuin GSTIN/UIN
            span  : #{model.sellerdetails.buyercompanygstno} 
          p.state-name-rajasthan-code
            span.gstinuin State Name
            span  : #{model.sellerdetails.buyercompanystatename}
            span.gstinuin Code
            span.span  : #{model.sellerdetails.buyercompanystatecode}
      img.line-icon(alt='' src='./public/line-47.svg')
      .line-div
      .macbook-air-2-child1
      .macbook-air-2-child2
      .macbook-air-2-child3
      .macbook-air-2-child4
      .macbook-air-2-child5
      .macbook-air-2-child6
      .macbook-air-2-child7
      .macbook-air-2-child8
      .macbook-air-2-child9
      img.macbook-air-2-child10(alt='' src='./public/line-49.svg')
      img.macbook-air-2-child11(alt='' src='./public/line-66.svg')
      img.macbook-air-2-child12(alt='' src='./public/line-47.svg')
      img.macbook-air-2-child13(alt='' src='./public/line-47.svg')
      img.macbook-air-2-child14(alt='' src='./public/line-47.svg')
      img.macbook-air-2-child15(alt='' src='./public/line-47.svg')
      img.macbook-air-2-child16(alt='' src='./public/line-47.svg')
      img.macbook-air-2-child17(alt='' src='./public/line-47.svg')
      img.macbook-air-2-child18(alt='' src='./public/line-47.svg')
      img.macbook-air-2-child19(alt='' src='./public/line-47.svg')
      img.macbook-air-2-child20(alt='' src='./public/line-47.svg')
      img.macbook-air-2-child21(alt='' src='./public/line-47.svg')
      img.macbook-air-2-child22(alt='' src='./public/line-47.svg')
      img.macbook-air-2-child23(alt='' src='./public/line-47.svg')
      img.macbook-air-2-child24(alt='' src='./public/line-47.svg')
      img.macbook-air-2-child25(alt='' src='./public/line-47.svg')
      img.macbook-air-2-child26(alt='' src='./public/line-47.svg')
      b.tax-invoice Tax Invoice
      .invoice-no-wrapper
        b.invoice-no Invoice No.
      .dispatch-document-no-wrapper
        b.invoice-no dispatch document no.
      .modeterms-of-payment-wrapper
        b.invoice-no mode/terms of payment
      .destination-wrapper
        b.invoice-no DEstination
      .wrapper
        .div 5
      .dated-parent
        b.dated dated
        .huz-guj 14-08-2023
      .dispatched-through-parent
        b.dispatched-through dispatched through 
        .truck TRUCK
      .other-references-parent
        b.dated other reference(s)
        .huz-guj HUZ GUJ
      .motor-vehicle-number-parent
        b.motor-vehicle-number MOTOR Vehicle number
        .pb11ap8197 PB11AP8197
        .dispatch-from-anand Dispatch From Anand
        .div2 1
        .div3 1
        .div4 7204
        .ms-scrap-less-container
          p.state-name-rajasthan-code MS SCRAP
          p.state-name-rajasthan-code &nbsp;
          p.state-name-rajasthan-code &nbsp;
          p.state-name-rajasthan-code &nbsp;
          p.state-name-rajasthan-code
            span.span less: 
            i.output-igst OUTPUT IGST 
          p.state-name-rajasthan-code
            i.output-igst &nbsp;
          p.state-name-rajasthan-code
            i.output-igst  @18% ROUND OFF
        .total TOTAL
        .total TOTAL
        .total2 TOTAL
        .div5 7204
        .div6 35,145
        .div7 35,145
        i.e-oe E. &amp; O.E
        .div8 18
        .div9 18%
        .kgs kgs
        .div10 6,15,037.50
        .div11 6,15,037.50
        .div12 6,15,037.50
        .div13 1,10,706.75
        .div14 1,10,706.75
        .div15 1,10,706.75
        .div16 1,10,706.75
        .div17 1,10,706.75
        .div18 7,25,744.00
        .ludiana LUDIANA
      .e-way-no-parent
        b.dated e-way no.
        .huz-guj 5
        .huz-guj 5
      .delivery-note-date-wrapper
        b.invoice-no delivery note date
      .suppilers-ref-parent
        b.suppilers-ref suppiler&rsquo;s ref
        .huz-guj SAME DAY
      .bill-landinglr-rr-no-wrapper
        b.invoice-no BILL LAnding/LR-RR No.
      .delivery-note-wrapper
        b.invoice-no delivery note
      .delivery-note-container
        b.invoice-no delivery note
      .dated-wrapper
        b.invoice-no Dated
      .terms-of-deilvery-wrapper
        b.terms-of-deilvery terms of deilvery
      .sn-wrapper
        b.sn s/n
      .sn-container
        b.sn1 s/n
      .rate-wrapper
        b.rate rate
      .amount-wrapper
        b.amount amount
      .amount-chargeable-in-words-parent
        .amount-chargeable-in-container
          b Amount chargeable 
          i.in-words (in words)
          b  
        .total-amount-in-container
          b total amount 
          i.in-words (in words)
          b  
        i.inr-seven-lakhs
          | INR Seven lakhs twenty five thousand and seven hundred and forty four
          | only
        i.inr-one-lakhs
          | INR one lakhs ten thousand and seven hundred and six and seventy five
          | paise only
      .discerption-of-goods-wrapper
        b.discerption-of-goods discerption of goods
      .hsnsac-parent
        b.hsnsac hsn/sac
        b.hsnsac1 hsn/sac
        b.taxable-value taxable value
        b.integrated-tax integrated tax
        b.total-tax-amount total tax amount
        b.quantity quantity
        b.rate1 rate
        b.per per
        b.amount1 amount
      i.consignee Consignee
      i.disclaimer
        span disclaimer
        span.span3  
      i.for-mahaveer-trading FOR #{model.companydetails.companyname}
      i.buyer buyer
      .this-is-a This is a computer generated invoice.
      i.authorized-signature Authorized Signature 
      .we-declared-that-container
        p.state-name-rajasthan-code
          | WE DECLARED THAT THIS INVOICE SHOWS THE ACTUAL PRICE
        p.state-name-rajasthan-code &nbsp;
        p.state-name-rajasthan-code
          | OF THE GOOD DESCRIBED AND THAT ALL PARTICULAR ARE
      .mahaveer-trading-company1 MAHAVEER TRADING COMPANY

