<!DOCTYPE html>
<html>
  <head>
    <style>
      /* Customize additional styles as needed */
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        padding-top: 25px;
        height: 100vh; 
      }   
      .invoice {
        max-width: 720px;
        margin: 0 auto;
        padding: 10px 20px 1px 20px;
        border: 1px solid #000000;
        border-radius: 5px;
        background-color: #fff;
        margin-left: 10px;
        margin-right: 10px;
      }
      .qr img {
        margin-left: 100px;
        position: absolute;
        width: 90px;
        height: 90px;
        top: 25%;
      }
      .qr {
        width: 45%;
        margin-top: -4%;
        margin-left: 55%;
      }
      .right {
        border-bottom: 2px solid black;
        font-size: 10px;
        margin-left: 55%;
        /* margin-left: 73.5%; */
        margin-top: -3.5%;
        border-top: 2px solid black;
      }
      .left {
        border-top: 2px solid black;
        font-size: 10px;
        text-align: left;
        /* margin-left: 73.5%; */
        width: 45%;
         margin-top: -0.5%;
        border-bottom: 2px solid black;
      }
      table {
        width: 100%;
        font-size: small;
      }

      .additional-charges,
      .total {
        margin-top: 10px;
        font-size: 10px;
      }
      .total {
        text-align: right;
        font-weight: bold;
        margin-top: -3%;
      }
      .amount-in-words {
        margin-top: 10px;
        font-style: italic;
      }
      @media screen and (max-width: 600px) {
        .invoice {
          padding: 10px;
        }
        .qr,
        .right {
          text-align: center;
        }
       
        th,
        td {
          padding: 4px;
        }
        .additional-charges,
        .total,
        .amount-in-words {
          margin-top: 10px;
        }
      }
      .logo img {
        width: 10%;
        height: 10%;
      }
      .comAddress {
        display: flex;
      }
      .comAddress p {
        display: flex;
      }
      .companyname {
        font-size: 15px;
        font-weight: bold;
        margin-left: 12%;
        margin-top: -10%;
      }
      .companyname1 {
        margin-top: -5%;
        margin-left: 12%;
        width: 55%;
        font-size: 12px;
      }
      h5 {
        text-align: center;
      }
      .alignleft {
        display: flex;
        border-bottom: 2px solid black;
        width: 45%;
        font-size: 9px;
         margin-top: 1.5%;
      }
      .alignright {
        display: flex;
        margin-left: 55%;
        margin-top: -17.6%;
        border-bottom: 2px solid black;
        font-size: 9px;
        width: 45%;
      }

    

      td {
        text-align: center;
        font-size: 0.5rem;
      }

      table {
        border-collapse: collapse;
        width: 100%;
      }

      table,
      th,
      td {
        border: 1px solid #000;
      }

      th {
        font-size:0.5rem;
        text-align: center;
      }
      .bottomleft {
        display: flex;
      }
      .bottomright {
        display: flex;
        margin-left: 80%;
      }
      .center {
        margin-top: -2%;
        text-align: center;
      }

      .table2 {
        margin-top: -4%;
      }

      #background {
        margin-left: 10%;
        margin-top: 25%;
        height: 100%;
        padding-top: 6%;
        padding-right: 5%;
        position: absolute;
        display: block;
        width: 80%;
        opacity: 0.7;

        text-align: start;
        background-color: transparent;
      }
      #bg-text {
        color: lightgrey;
        font-size: 27px;
        transform: rotate(300deg);
        -webkit-transform: rotate(300deg);
        opacity: 0.7;
        filter: alpha(opacity=40);
        background-color: transparent;
      }

      table:nth-of-type(1) thead th:nth-child(2),
      table:nth-of-type(2) thead th:nth-child(2) {
        /* DESCRIPTION OF GOODS column for both tables */
        width: 40%; /* Adjust the width as needed */
      }

      table:nth-of-type(1) thead th:nth-child(4),
      table:nth-of-type(2) thead th:nth-child(4) {
        /* QUANTITY column for both tables */
        width: 10%; /* Adjust the width as needed */
      }

      .d-flex {
        display: flex;
        justify-content: start;
        align-items: center;
      }

      .disfont{
           font-size:0.5rem;
       }

        .border-bottom{
             border-bottom: 1px solid black;
         }
    </style>
  </head>
  <body>
    <div class="invoice">
      <div id="background">
        <p id="bg-text"><%= invoiceData.boardingdetails.watermark %></p>
      </div>
      <div class="invoice-header">
        <p style="text-align: center; font-weight: bold; font-size: 12px">
          TAX INVOICE
        </p>
        <div class="logo">
          <img src="<%= logoPath %>" alt="Logo" />
        </div>
        <div class="comAddress">
          <p class="companyname">
            <%= invoiceData.companydetails.companyname %>
          </p>
          <br />
          <p class="companyname1">
            <%= invoiceData.companydetails.companyofficeaddress %><br />
            GSTIIN/UN : <%= invoiceData.companydetails.companygstno %> <br />
            State Name : <%= invoiceData.companydetails.companystate %>
          </p>
        </div>
      
        <div class="left">
          <b>Invoice No</b>
          : <%= invoiceData.invoicedetails.invoiceno %><br />
            
        </div>
        <div class="right">
          <b>Date</b>
          : <%=
          moment(invoiceData.invoicedetails.invoicedate).format("DD/MM/YYYY") %> &nbsp;
         <b>Ref.</b>0000000000
        </div>
        <div class="qr">
          <img src="<%= imagePath %>" alt="" />
        </div>

      </div>
 
      <br />
      <div>
        <div>
           
          <p class="alignleft">
          
               <b>Vehicle Number :</b><%= invoiceData.vehicledetails.vechiclenumber %><br />
                
            
            <b>Consignee</b> <br />
            <%= invoiceData.sellerdetails.sellercompanyname %> <br />
            <%= invoiceData.sellerdetails.sellercompanyaddress %> <br />
            GSTIN/UIN : <%= invoiceData.sellerdetails.sellercompanygstno %>
            <br />
            State Name : <%= invoiceData.sellerdetails.sellercompanystatename
            %>, Code : <%= invoiceData.sellerdetails.sellercompanystatecode %>
            <br />
          </p>
        </div>

        <div>
          
          <p class="alignright">
         
                <b> Driver Number: </b><%= invoiceData.vehicledetails.drivernumber %><br />
                 
            <b>BUYER</b> (if other than Consignee)<br>
            <%= invoiceData.buyerdetails.buyercompanyname %> <br />
            <%= invoiceData.buyerdetails.buyercompanyaddress %> <br />
            GSTIN/UIN : <%= invoiceData.buyerdetails.buyercompanygstno %> <br />
            State Name : <%= invoiceData.buyerdetails.buyercompanystatename %>,
            Code : <%= invoiceData.buyerdetails.buyercompanystatecode %>
          
          </p>
        </div>
      </div>
      
      <table  style="font-size: 10px; border: 1px solid black">
        <thead>
          <tr>
            <th>S/N</th>
            <th>DESCRIPTION OF GOODS</th>
            <th>HSN/SAC</th>
            <th>QUANTITY(Kgs.)</th>
            <th>PRICE(Per Kg)</th>
            <th>AMOUNT</th>
          </tr>
        </thead>
        <tbody>
          <% var interStateTax =
          (invoiceData.sellerdetails.sellercompanystatecode ==
          invoiceData.buyerdetails.buyercompanystatecode) ? false : true; %> <%
          var itemQuantitySum = 0; %> <% var itemAmountSum = 0; %> <% var
          itemTaxSum = 0; %> <% var itemAmount = 0; %> <% if
          (invoiceData.consignmentdetails.itemdetails.length > 0) { %> <%
          invoiceData.consignmentdetails.itemdetails.forEach((item, index) => {
          %> <% itemQuantitySum += item.itemquantity %> <% itemAmount =
          (item.itemprice * item.itemquantity) %> <% itemAmountSum += itemAmount
          %> <% itemTaxSum += ((18/100 * itemAmount)) %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= item.itemname %></td>
            <td><%= item.itemhsn %></td>
            <td><%= item.itemquantity %></td>
            <td><%= item.itemprice %></td>
            <td><%= commaNumber((itemAmount).toFixed(2)) %></td>
          </tr>
          <% }); %> <% } %>

          <tr class="gst" style="border-top: 1px solid #000">
            <td></td>
            <td>CGST</td>
            <td></td>
            <td></td>
            <td></td>
            <% if(interStateTax == true){ %>
            <td>-</td>
            <% } else { %>
            <td><%= commaNumber((itemTaxSum/2).toFixed(2)) %></td>
            <% } %>
          </tr>
          <tr>
            <td></td>
            <td>SGST</td>
            <td></td>
            <td></td>
            <td></td>
            <% if(interStateTax == true){ %>
            <td>-</td>
            <% } else { %>
            <td><%= commaNumber((itemTaxSum/2).toFixed(2)) %></td>
            <% } %>
          </tr>
          <tr class="igst">
            <td></td>
            <td>IGST</td>
            <td></td>
            <td></td>
            <td></td>
            <% if(interStateTax == true){ %>
            <td><%= commaNumber((itemTaxSum).toFixed(2)) %></td>
            <% } else { %>
            <td>-</td>
            <% } %>
          </tr>

          <tr>
            <td></td>
            <td>TOTAL</td>
            <td></td>
            <td><%= itemQuantitySum %></td>
            <td></td>
            <td><%= commaNumber((itemAmountSum + itemTaxSum).toFixed(2)) %></td>
          </tr>
          <br />
          <tr>
            <td colspan="2">AMOUNT CHARGEABLE (IN WORDS)</td>
            <td colspan="4">
              <%= (toWords.convert(itemAmountSum + itemTaxSum)).toUpperCase() %>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table2" style="font-size: 10px; border: 1px solid black">
        <thead>
          <tr>
            <th>S/N</th>
            <th>HSN/SAC</th>
            <th>TAXABLE VALUE</th>
            <th colspan="6">INTEGRATED TAX</th>
            <th>AMOUNT</th>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="2" style="text-align: center">CGST</th>
            <th colspan="2" style="text-align: center">SGST</th>
            <th colspan="2" style="text-align: center">IGST</th>
            <th></th>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>RATE</th>
            <th>AMOUNT</th>
            <th>RATE</th>
            <th>AMOUNT</th>
            <th>RATE</th>
            <th>AMOUNT</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% if (invoiceData.consignmentdetails.itemdetails.length > 0) { %> <%
          invoiceData.consignmentdetails.itemdetails.forEach((item, index) => {
          %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= item.itemhsn %></td>
            <td>
              <%= commaNumber((item.itemprice * item.itemquantity).toFixed(2))
              %>
            </td>

            <% if(interStateTax == true){ %>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>18%</td>
            <td>
              <%= commaNumber((18/100 * (item.itemprice*
              item.itemquantity)).toFixed(2)) %>
            </td>
            <% } else { %>
            <td>9%</td>
            <td>
              <%= commaNumber((9/100 * (item.itemprice*
              item.itemquantity)).toFixed(2)) %>
            </td>
            <td>9%</td>
            <td>
              <%= commaNumber((9/100 * (item.itemprice*
              item.itemquantity)).toFixed(2)) %>
            </td>
            <td>-</td>
            <td>-</td>
            <% } %>

            <td>
              <%= commaNumber((18/100 * (item.itemprice*
              item.itemquantity)).toFixed(2)) %>
            </td>
          </tr>
          <% }); %> <% } %>
          <br />
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>TOTAL</td>
            <td><%= commaNumber(itemTaxSum.toFixed(2)) %></td>
          </tr>
          <br />
          <tr>
            <td colspan="3">AMOUNT CHARGEABLE(IN WORDS)</td>
            <td colspan="7">
              <%= (toWords.convert(itemTaxSum)).toUpperCase()%>
            </td>
          </tr>
        </tbody>  
      </table>
      <div class="additional-charges">
     
        <p style="text-decoration-line: underline"><b>DISCLAIMER</b></p>
        <p
          style="
            text-decoration-line: underline;
            text-align: right;
            margin-top: -5%;
          "
        >
          <b> FOR MAHAVEER TRADING COMPANY</b>
        </p>
        <div class="bottomleft">
          <p class="disfont">
            WE DECLARED THAT THIS INVOICE SHOWS THE ACTUAL PRICE <br />
            OF THE GOOD DESCRIBED AND THAT ALL PARTICULAR ARE
          </p>
          <b></b>
        </div>

        <div class="bottomright">
          <p>Authorized Signature</p>
        </div>
        <div class="center">
          <p>This is a computer generated invoice</p>
        </div>
      </div>
    </div>
  </body>
</html>
